@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
  src: url("../assets/fonts/FuturaPTExtraBold.otf");
  font-family: FuturaPT;
  font-weight: 900;
}

@font-face {
  src: url("../assets/fonts/FuturaPTExtraBoldOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 900;
}

@font-face {
  src: url("../assets/fonts/FuturaPTHeavy.otf");
  font-family: FuturaPT;
  font-weight: 800;
}

@font-face {
  src: url("../assets/fonts/FuturaPTHeavyOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 800;
}

@font-face {
  src: url("../assets/fonts/FuturaPTBold.otf");
  font-family: FuturaPT;
  font-weight: 700;
}

@font-face {
  src: url("../assets/fonts/FuturaPTBoldOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 700;
}

@font-face {
  src: url("../assets/fonts/FuturaPTDemi.otf");
  font-family: FuturaPT;
  font-weight: 600;
}

@font-face {
  src: url("../assets/fonts/FuturaPTDemiOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 600;
}

@font-face {
  src: url("../assets/fonts/FuturaPTMedium.otf");
  font-family: FuturaPT;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FuturaPTMediumOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FuturaPTBook.otf");
  font-family: FuturaPTBook;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/FuturaPTBookOblique.otf");
  font-family: FuturaPTBook;
  font-style: oblique;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/FuturaPTLight.otf");
  font-family: FuturaPT;
  font-weight: 300;
}

@font-face {
  src: url("../assets/fonts/FuturaPTLightOblique.otf");
  font-family: FuturaPT;
  font-style: oblique;
  font-weight: 300;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondBook.otf");
  font-family: FuturaPTCondensedBook;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/FuturaPTBookCondOblique.otf");
  font-family: FuturaPTCondensedBook;
  font-style: oblique;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondMedium.otf");
  font-family: FuturaPTCondensed;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondMediumOblique.otf");
  font-family: FuturaPTCondensed;
  font-style: oblique;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondBold.otf");
  font-family: FuturaPTCondensed;
  font-weight: 700;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondBoldOblique.otf");
  font-family: FuturaPTCondensed;
  font-style: oblique;
  font-weight: 700;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondExtraBold.otf");
  font-family: FuturaPTCondensed;
  font-weight: 900;
}

@font-face {
  src: url("../assets/fonts/FuturaPTCondExtraBoldOblique.otf");
  font-family: FuturaPTCondensed;
  font-style: oblique;
  font-weight: 900;
}

body,
html {
  height: 100%;
}

body {
  font-family: FuturaPT;
  color: #39374d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  color: #39374d;
  font-weight: 500;
}

body h1 {
  color: #39374d;
  font-weight: 800;
}

body p {
  color: #5e5d6c;
}

body nav {
  height: 100px;
}

.navbar-nav .nav-icon {
  padding-top: 16px;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item .btn-contact {
  background-color: #00d664;
  color: #ffffff;
  padding: 14px 35px 14px;
  font-size: 16px;
}

.header {
  margin: 0 auto;
  background-image: url("../img/header-background@2x.png");
  background-size: cover;
}

.header .container {
  margin-top: 120px;
}

.header .container .row .headline {
  text-align: center;
}

.header .container .row .headline h1 {
  font-size: 28px;
}

.header .container .row .headline h1 span {
  color: #00d664;
}

@media (min-width: 576px) {
  .header .container .row .headline h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .header .container .row .headline h1 {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .header .container .row .headline h1 {
    font-size: 90px;
  }
}

.header .container .row .headline h2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  margin: 20px 0;
}

@media (min-width: 576px) {
  .header .container .row .headline h2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .header .container .row .headline h2 {
    font-size: 32px;
  }
}

.header .container .row .headline p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}

.header .container .row .headline p span {
  color: #39374d;
  font-weight: bold;
  border-bottom: 2px solid #39374d;
}

@media (min-width: 576px) {
  .header .container .row .headline p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .header .container .row .headline p {
    font-size: 20px;
  }
}

.header .container .row .headline .headline__CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px auto;
  max-width: 406px;
  height: 60px;
}

.header .container .row .headline .headline__CTA .button__CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px 15px;
  width: 205px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #39374d;
}

@media (min-width: 576px) {
  .header .container .row .headline .headline__CTA .button__CTA {
    padding: 20px 24px;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .header .container .row .headline .headline__CTA .button__CTA {
    padding: 20px 24px;
  }
}

.header .container .row .headline .headline__CTA .button__CTA p {
  font-size: 10px;
  text-align: right;
  margin: 0;
  color: #ffffff;
}

.header .container .row .headline .headline__CTA .button__CTA p:first-child {
  font-size: 22px;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .header .container .row .headline .headline__CTA .button__CTA p:first-child {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .header .container .row .headline .headline__CTA .button__CTA p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .header .container .row .headline .headline__CTA .button__CTA p {
    font-size: 16px;
  }
}

.header .container .row .headline .headline__CTA .play__CTA {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #7540ee;
  border-radius: 100%;
  margin-left: 10px;
}

.work {
  margin: 0 auto;
  background-image: url("../img/portfolio-background@2x.png");
  background-size: cover;
  margin-top: 150px;
  text-align: center;
}

.work .portfolio-grid {
  -webkit-columns: 1;
          columns: 1;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (min-width: 768px) {
  .work .portfolio-grid {
    -webkit-columns: 2 250px;
            columns: 2 250px;
  }
}

@media (min-width: 992px) {
  .work .portfolio-grid {
    -webkit-columns: 3 350px;
            columns: 3 350px;
  }
}

.work .portfolio-grid .portfolio-item {
  background: #333;
  margin-bottom: 20px;
  height: 400px;
  padding: 50px;
  font-size: 40px;
  color: white;
  background-image: url("../img/beasty-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .work .portfolio-grid .portfolio-item {
    height: 284px;
  }
}

@media (min-width: 992px) {
  .work .portfolio-grid .portfolio-item {
    height: 350px;
  }
}

.work .portfolio-grid .portfolio-item.tall {
  height: 400px;
}

@media (min-width: 768px) {
  .work .portfolio-grid .portfolio-item.tall {
    height: 450px;
  }
}

@media (min-width: 992px) {
  .work .portfolio-grid .portfolio-item.tall {
    height: 530px;
  }
}

.work .portfolio-grid .portfolio-item.short {
  height: 400px;
}

@media (min-width: 768px) {
  .work .portfolio-grid .portfolio-item.short {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .work .portfolio-grid .portfolio-item.short {
    height: 220px;
  }
}

.work .portfolio-grid .portfolio-item:nth-child(1) {
  background-image: url("../img/brandidentity.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(2) {
  background-image: url("../img/web.png");
}

.work .portfolio-grid .portfolio-item:nth-child(3) {
  background-image: url("../img/buildings.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(4) {
  background-image: url("../img/landscape.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(5) {
  background-image: url("../img/infusion.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(6) {
  background-image: url("../img/goldwood.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(7) {
  background-image: url("../img/typography.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(8) {
  background-image: url("../img/beasty-unsplash.jpg");
}

.work .portfolio-grid .portfolio-item:nth-child(9) {
  background-image: url("../img/woman-trees-unsplash.jpg");
}

.work .button__work {
  background-color: #ffffff;
  color: #00d664;
  border: 2px solid #00d664;
  padding: 16px 36px 16px;
  font-size: 16px;
  margin-top: 50px;
}

.services {
  margin-top: 100px;
  background-image: url("../img/services-background.png");
  background-size: cover;
}

.services .services__right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1200px) {
  .services .services__right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.services .services__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1200px) {
  .services .services__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.services .services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #748494;
}

@media (min-width: 768px) {
  .services .services__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .services .services__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services .services__cards .cards__left,
.services .services__cards .cards__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (min-width: 576px) {
  .services .services__cards .cards__left,
  .services .services__cards .cards__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.services .services__cards .cards__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .services .services__cards .cards__right {
    margin-left: 30px;
  }
}

.services .services__cards .service__card {
  padding: 35px 30px;
  width: 300px;
  min-height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 90px rgba(110, 123, 131, 0.2);
          box-shadow: 0 10px 90px rgba(110, 123, 131, 0.2);
}

@media (min-width: 768px) {
  .services .services__cards .service__card {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .services .services__cards .service__card {
    width: 270px;
  }
}

.services .services__cards .service__card .icon {
  width: 60px;
  height: 60px;
  background-color: #00d664;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.services .services__cards .service__card .icon svg {
  width: 35px;
  fill: #ffffff;
}

.services .services__cards .service__card h2 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
  color: #39374d;
}

.services .services__cards .service__card p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6;
  color: #748494;
}

.services .services__cards .service__card .arrow {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services .services__cards .service__card .arrow svg {
  fill: #cccccc;
  width: 35px;
}

.services .services__description {
  text-align: center;
  margin: 60px 0;
}

@media (min-width: 992px) {
  .services .services__description {
    margin-left: 40px;
    text-align: left;
  }
}

.services .services__description h6 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
  color: #00d664;
}

@media (min-width: 992px) {
  .services .services__description h6 {
    font-size: 16px;
    margin: 0;
  }
}

.services .services__description h1 {
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0;
}

.services .services__description h1 span {
  font-weight: 300;
}

@media (min-width: 576px) {
  .services .services__description h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .services .services__description h1 {
    font-size: 40px;
    margin: 40px auto;
  }
}

@media (min-width: 992px) {
  .services .services__description h1 {
    margin: 40px auto 20px;
  }
}

.services .services__description p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  max-width: 440px;
  color: #748494;
}

@media (min-width: 768px) {
  .services .services__description p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (min-width: 992px) {
  .services .services__description p {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .services .services__description {
    margin: 80px auto;
    max-width: 450px;
  }
}

.companies {
  margin: 80px 0;
}

.companies .company__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.companies .company__logo .logo {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action .contact__CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 100px 200px;
  min-height: 425px;
  background-color: #7540ee;
  color: white;
  border-radius: 2px;
}

.call-to-action .contact__CTA h6 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
  margin-bottom: 0;
}

.call-to-action .contact__CTA h2 {
  font-weight: 300;
  font-size: 52px;
  margin-top: 10px;
}

.call-to-action .contact__CTA h2 span {
  font-weight: 600;
}

.call-to-action .contact__CTA .btn-contact {
  background-color: #00d664;
  color: #ffffff;
  padding: 14px 35px 14px;
  font-size: 16px;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */